.card {
    border: solid;
    border-color: rgb(173, 75, 75);
    box-shadow: 0 0 15px rgb(211, 38, 38);
    background-color: rgb(99, 9, 9);
    border-radius: 15px;
    margin: 0 20px 10px 20px;
    min-width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main_photo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    border: solid 15px black;
}

.cont_main_photo {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.area_photo_card {
    display: flex;
    justify-content: center;
}

.photo_card {
    height: 200px;
    width: 200px;
    min-height: 100px;
    min-width: 100px;
    margin: 10px;
    background-size: cover;
    border-radius: 50%;
    border: solid black;
}

.text_card_ur {
    margin: 0;
    padding-left: 30px;
    font-size: large;
}

.text_card_p {
    margin: 0 0 0 10px;
    font-size: large;
}

.h_3 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
    border-bottom: double 7px rgb(122, 66, 66);
    border-top: double 7px rgb(122, 66, 66);
}

.h_1h_2 {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

body {
    margin: 40pt 0 0 0;
    background-color: rgb(66, 6, 6);
}

main {
    margin: 0 15pt 0 15pt;
}

footer {
    background: rgb(126, 1, 1);
    border-top: solid 5px;
}

p {
    font-size: large;
}

.text_footer {
    margin: 5px;
}